@keyframes animation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 64px;
  height: 64px;

  img {
    animation-iteration-count: infinite;
    animation-name: animation;
    animation-duration: .7s;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    display: block;
  }
}
