:root {
  --main-color: #e10600;
  --dark-color: #000;
  --light-color: #fff;
  --gray-color: #dad7d7;
  --bg-color: #f3f3f3;
  --overlay-color: rgb(60 60 67 / 30%);
  --max-content-width-xl: 920px;
  --max-content-width-mb: 480px;
  --bs-inset: rgb(0 0 0 / 6%) 0 2px 4px 0 inset;
  --bs-regular: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
}

html,
body {
  font-family: Montserrat, sans-serif;
  color: var(--dark-color);
  background-color: var(--bg-color);
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 50px;
  grid-gap: 0;
  height: 100vh;
  width: 100vw;
}

b {
  font-weight: bold;
}
