.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-color);
  z-index: 1;

  .wrapper {
    max-width: 80vw;
    width: 100%;
  }
}
